:root {
  /* https://tailwindcss.com/docs/colors : gray */
  --color-base-050: oklch(0.985 0.002 247.839);
  --color-base-100: oklch(0.967 0.003 264.542);
  --color-base-200: oklch(0.928 0.006 264.531);
  /* --color-base-300: oklch(0.872 0.01 258.338); */
  /* --color-base-400: oklch(0.707 0.022 261.325); */
  /* --color-base-500: oklch(0.551 0.027 264.364); */
  /* --color-base-600: oklch(0.446 0.03 256.802); */
  /* --color-base-700: oklch(0.373 0.034 259.733); */
  /* --color-base-800: oklch(0.278 0.033 256.848); */
  --color-base-900: oklch(0.21 0.034 264.665);
  --color-base-950: oklch(0.13 0.028 261.692);

  --color-accent: #7e56c2;
  --color-accent-hover: color-mix(in oklch, var(--color-accent) 85%, white);
  --color-accent-active: color-mix(in oklch, var(--color-accent) 85%, black);

  /* --color-overlay: rgba(255, 255, 255, 0.5); */

  /* --spacing-04: 0.25rem; */
  --spacing-2xs: 0.5rem;
  --spacing-xs: 0.75rem;
  --spacing-sm: 0.875rem;
  --spacing-base: 1rem;
  /* --spacing-lg: 1.125rem; */
  /* --spacing-xl: 1.25rem; */
  /* --spacing-2xl: 1.5rem; */
  /* --spacing-3xl: 1.875rem; */
  /* --spacing-4xl: 2.25rem; */
  /* --spacing-5xl: 3rem; */
  /* --spacing-6xl: 3.75rem; */

  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  /* --radius-xl: 0.75rem; */

  /* --z-overlay: 80; */
  /* --z-faq-link: 90; */

  --font-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  /* --font-light: 300; */
  --font-normal: 400;
  /* --font-medium: 500; */
  --font-semibold: 600;
  /* --font-bold: 700; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:not(dialog) {
  padding: 0;
  margin: 0;
}

html {
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100dvh;
  overflow: hidden;
  font-family: var(--font-sans);
  line-height: 1.15;
}

button {
  background-color: transparent;
}

button {
  border: none;
}

a,
button {
  color: currentColor;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2 {
  letter-spacing: 0.02em;
}

ul,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.number {
  /* text-align: right; */
  font-variant-numeric: tabular-nums;
}