.root {
  --g: 2px;
  --h: 48px;
  --w: 68px;
  --s: 0 0 2px rgb(0 0 0 / 0.12), 0 2px 4px rgb(0 0 0 / 0.14);

  display: grid;
  grid-template: var(--h) calc(100dvh - var(--h)) / var(--w) calc(100dvw - var(--w));
  color: var(--color-base-100);
  background-color: var(--color-accent);

  svg {
    height: calc(var(--h) / 2);
    aspect-ratio: 1 / 1;
  }
}

.aside {
  grid-area: 1 / 1 / 3 / 2;
  overflow: auto;
  font-size: var(--spacing-xs);

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }

  a,
  button {
    &:hover {
      background-color: var(--color-accent-hover);
    }

    &:global(.active) {
      color: var(--color-base-050);
      background-color: var(--color-accent-active);
    }
  }

  li {
    width: var(--w);
    height: var(--h);

    &:nth-child(n + 2) {
      height: calc(var(--h) + var(--g) * 2);

      a {
        padding: var(--g) 0;
      }
    }
  }
}

.header {
  display: flex;
  grid-area: 1 / 2 / 2 / 3;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--spacing-base);

  h1 {
    font-size: var(--spacing-sm);
    font-weight: var(--font-normal);
  }
}

.main {
  position: relative;
  grid-area: 2 / 2 / 3 / 3;
  padding: var(--spacing-base);
  overflow: auto;

  color: var(--color-base-950);
  background-color: var(--color-base-050);
  border-start-start-radius: var(--radius-md);
  box-shadow: var(--s);
}
